<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="wpf_in_winforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
		</providers>
	</entityFramework>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
 <applicationSettings>
  <wpf_in_winforms.Properties.Settings>
   <setting name="QR1Path" serializeAs="String">
    <value>qr1.png</value>
   </setting>
   <setting name="QR2Path" serializeAs="String">
    <value>qr2.png</value>
   </setting>
   <setting name="QR3Path" serializeAs="String">
    <value>qr3.png</value>
   </setting>
   <setting name="QR4Path" serializeAs="String">
    <value>qr4.png</value>
   </setting>
   <setting name="QR5Path" serializeAs="String">
    <value>qr5.png</value>
   </setting>
   <setting name="QR6Path" serializeAs="String">
    <value>qr6.png</value>
   </setting>
   <setting name="QR1Content" serializeAs="String">
    <value>WELCOME</value>
   </setting>
   <setting name="QR2Content" serializeAs="String">
    <value>TO</value>
   </setting>
   <setting name="QR3Content" serializeAs="String">
    <value>RTC</value>
   </setting>
   <setting name="QR4Content" serializeAs="String">
    <value>VIMF</value>
   </setting>
   <setting name="QR5Content" serializeAs="String">
    <value>EXHIBITION</value>
   </setting>
   <setting name="QR6Content" serializeAs="String">
    <value>2025</value>
   </setting>
   <setting name="Speed" serializeAs="String">
    <value>1</value>
   </setting>
  </wpf_in_winforms.Properties.Settings>
 </applicationSettings>
</configuration>